body {
  background-color: black;
  font-family: "Papyrus", "Verdana", "Arial";
  color: #95A3B3;
}

hr {
  border-style: solid none none;
  border-color: #345830;
  border-width: 3px;
  margin-top: 50px;
  width: 80%;
  margin-bottom: 10px;

}

p {
  font-family: "Papyrus", "Verdana", "Arial";
  text-align: center;
  display: block;
  margin: 10px 170px 10px 30px;
}

em {
  font-family: "Verdana", "Papyrus", "Arial";
  margin-left: 10px;
  margin-right: 10px;
}

strong {
  color: #EF3E36;
}

h1 {
  text-align: center;
  margin: 10px auto 1px auto;
  color: #345830;
}

h2 {
   margin-left: 170px;
}

h3 {
  text-align: center;
}

a {
  display: block;
  margin: 5px auto 5px auto;
}

img {
  display: block;
  margin-left: 170px;
}
